
table {
  border-collapse:collapse;
}
table, th, td {
  border: 1px solid #CCC;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: monospace;
}
.td_right {
    text-align: right;
}
.td_wrap {
  word-wrap: break-word;
}